/* Global styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}

/* header styles */
.header-top-container {
    display: flex;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container a {
    text-decoration: none;
    margin-right: 20px;
}

.logo-text {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.logo-text .logo-first-letter {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-top-container .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top-container .navbar ul li {
    list-style: none;
    margin: 32px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.header-top-container .navbar ul li a {
    text-decoration: none;
}

.navbar ul {
    margin-right: -40px;
    display: flex;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 17px 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* header banner */

.header-banner-container {
    display: flex;
    justify-content: space-around;
    width: 1440px;
    margin: 0 auto;
    background-image: url('../images/group-14.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}

.header-banner-left {
    margin-right: 492px;
}


.header-banner-left-content {
    margin-top: 148px;
    margin-left: 144px;
    margin-right: -628px;
}

.header-banner-left-content h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.header-banner-left-content h1 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-banner-left-content .features .features-content {
    display: flex;
    gap: 12px;
}

.header-banner-left-content .features .features-content p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.header-banner-button {
    display: flex;
}

.pink-button,
.blue-button {
    border-radius: 48px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border: 0px;
    margin-top: 41px;
    margin-bottom: 96px;
}

.pink-button {
    margin-right: 20px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.blue-button {
    background: #4EC5F7;
}

.header-banner-right {
    width: 50%;
}

.header-banner-right img {
    height: 679px;
    margin-left: 113px;
}


/* main styles */
/* we are gamers section */
.gamers {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.we-are-gamers {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}

.gamers-left-side img {
    height: 400px;
    padding-left: 95px;
}

.gamers-right-side p {
    text-align: right;
    margin-bottom: 24px;
}

.gamers-right-side {
    padding-right: 25px;
}

.gamers-right-side .gamers-right-title {
    margin-top: 55px;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamers-right-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.gamers-btn {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border: 0px;
    text-align: right;
}

.purpose {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

.gamers-slogan {
    color: #534C64;
    font-size: 26px;
    font-weight: 700;
    line-height: 45px;
}

/* online games section */
.online-games {
    max-width: 1440px;
    margin: 0 auto;
}

.online-games-top-content {
    margin-top: 120px;
}

.online-games-top-content h3 {
    color: #0B0223;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.online-games-top-content span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-top-content p {
    margin-top: 16px;
    text-align: center;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.online-games-cards {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.online-games-card {
    width: 342px;
    margin-bottom: 120px;
}


.online-games-card img {
    width: 100%;
}

.online-games-card p {
    max-width: 342px;
    text-align: left;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 24px;
}

.img-grp {
    position: relative;
    width: 100%;
    max-width: 342px;
}

.img-grp img {
    display: block;
    width: 100%;
    height: auto;
}

.img-grp .dark-layer svg {
    color: white;
    font-size: 100px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.watch-now {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 10;

}


.dark-layer {
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    border-radius: 20px;
    border: 4px solid #FF42A5;
}

.img-grp:hover img {
    border-radius: 20px;
}

.img-grp:hover p,
svg {
    cursor: pointer;
}

.img-grp:hover .dark-layer {
    opacity: 0.8;
}

/* instant play section */
.instant-play-container {
    display: flex;
    justify-content: space-around;
    gap: 120px;
    max-width: 1440px;
    margin: 0 auto;
}

.instant-play-left {
    margin-top: 203px;
    margin-right: 144px;
}

.instant-play-left h3 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.instant-play-left h3 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant-play-left p {
    text-align: right;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.instant-play-images {
    margin-right: -89px;
}

.big-img {
    border-radius: 8px;
    max-height: 560px;
    background: lightgray -7.583px 0px / 102.389% 100% no-repeat;
}

.small-img {
    position: relative;
    top: -229px;
    right: 110px;
    height: 278px;
}


/* game's type section */
.games-types-section {
    margin-top: -150px;
}

.first-five-games,
.last-four-games {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.first-five-games>div,
.last-four-games>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    padding: 28px 20px;
    border: 1px solid #00000000;
}

.first-five-games {
    margin-bottom: 60px;
}

.first-five-games p,
.last-four-games p {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.first-five-games>div:hover,
.last-four-games>div:hover {
    padding: 28px 20px;
    border: 1px solid #FF42A5;
    border-radius: 50px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.last-four-games {
    margin-bottom: 120px;

}

/* footer styles */

footer .logo-container {
    padding-top: 120px;
    padding-bottom: 60px;
}

footer {
    background-color: #0B0223;
    max-height: 636px;
}

footer .logo-container .logo-text .amer {
    color: #FFF;
}

.footer-menu ul,
.social-icons-container,
.footer-menu-two ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.footer-menu ul>li,
.footer-menu-two ul>li {
    list-style: none;
}

.footer-menu ul>li>a,
.footer-menu-two ul>li>a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;

}

.footer-menu {
    padding-bottom: 60px;
}

.social-icons-container {
    padding-bottom: 70px;
}

.footer-menu-two {
    padding-bottom: 30px;
}

.copyright p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 120px;
}





/* responsive styles
/* mobile device */

@media screen and (max-width: 576px) {

    header {      
        margin-top: 103px;
        margin-right: -100%;
    }

    .header-top-container,
    .navbar ul {
        flex-direction: column;

    }

    .header-top-container {
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.0);
    }

    .header-banner-container {
        flex-direction: column-reverse;
        background-image: none;
    }

    .header-banner-left{
        background-image: url('../images/group-14.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
    }

    .header-banner-left-content {
        margin-left: 30%;      
    }

    /* we are gamers */
    .gamers {
        background: #00000000
    }
    .we-are-gamers{
        flex-direction: column;
    }

    .gamers-right-side p {
        text-align: center;
    }
    
    .gamers-right-side {
        margin-left: 50%;
        padding: 10px;
        width: 100%;
    }
    
    .gamers-right-side .gamers-right-title {
        text-align: center;
    }
    
    .gamers-right-description {
        
        text-align: center;
       
    }
    
    .gamers-btn {
        text-align: center;
    }
    
    .purpose {
        text-align: center;
    }
    
    .gamers-slogan {
        text-align: center;
    }

    /* online games */
    .online-games-top-content {
        text-align: center;
        margin-left: 224px;
        width: 100%;
    }
    .online-games-top-content h3 {
        font-size: 30px;
    }

    .online-games-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 100%;
    }

    .online-games-card{
        margin-bottom: 50px;
    }

    /* instant play section */
    .instant-play-container{
        flex-direction: column;
    }

    .instant-play-left {
        margin-left: 43%;
        width: 100%;
        padding: 0px;
    }

    .instant-play-left h3 {
        text-align: right;
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
    }
    
    .instant-play-left h3 span {
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .instant-play-left h3{
        text-align: center;
    }

    .instant-play-left h3{
        font-size: 30px;
    }

    .instant-play-left p {
        text-align: center;        
    }

    




}